<%-include('partials/header_admin'); %> 
    
    <div class="schedule rounded p-3 mx-lg-1">
    
        <h4 class="m-5">Devices List</h4>
 
    
        <% if(stock.length != 0) { %>
        <div class="table-responsive">
        <table class="table text-center">
                
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">serialno</th>
                    <th scope="col">devicetype</th>
                    <th scope="col">model</th>
                    <th scope="col">invoiceno</th>
                    <th scope="col">invoicedate</th>
                    <th scope="col">specification</th>
                </tr>
            </thead>
    
            <tbody>
                <% for(let i=0; i<stock.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= stock[i].serialno %></td>
                    <td><%= stock[i].devicetype %></td>
                    <td><%= stock[i].model %></td>
                    <td><%= stock[i].invoiceno %></td>
                    <td><%= new Date(stock[i].invoicedate).toLocaleDateString("en-IN") %></td>
                    <td><%= stock[i].specification%></td>

                </tr>
                <% } %>
            </tbody>
        </table>
        <form action="/verify-stock" method="post">

            <div class="text-center ">
                    <input class="btn rounded-pill btn-block update w-25" type="submit" name="submit" value="VERIFY" id="submitBtn">
            </div>
        </form>
    </div>
    <% } else { %>
        <div class="col-sm-5 col-md-5 col-lg-5 mt-5 mx-auto d-flex align-items-center row">
            <img src="images/nothing.png" class="w-75 w-md-50 mx-auto" alt="">
            <p class="fw-bold text-center">No stock to authorize!</p>
        </div>
    <% } %>

    <%-include ('partials/footer'); %>
    <style>  
        #submitBtn{
            background-color: #5853BC;
            color:white;
        }
    </style>