<% if(role === "student") { %>
    <%-include('partials/header_student')%>
    <% } else if(role === "teacher") { %>
    <%-include('partials/header')%>
    <% } else { %>
    <%-include('partials/header_admin') %>
    <% } %>
    <div class="main schedule rounded p-3 mx-lg-5 ">
        <div class="m-3 row">
            <div class="mb-3  text-center">
                <h4 class="text-center float-sm-start">Check Availability</h4>
            </div>
        </div>
        <div class="check_available mb-3 d-flex justify-content-center ">
            <form action="/check-availability" method="post" style="width: 30%;">


                <div class="mb-3 row">
                    <label for="date" class="col-xl-5 col-form-label">Date</label>
                    <div class="col-xl-7">
                        <% const date = new Date(); yyyy = date.getFullYear(), mm = date.getMonth()+1, dd = date.getDate(); %>
                        <% if(dd < 10) { dd = '0'+dd} if(mm < 10) { mm = '0'+mm} %>
                        <% const str = yyyy+'-'+mm+'-'+dd; %>
                        <input type="date" class="form-control" id="date" name="date" required min="<%= str %>";>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="from" class="col-xl-5 col-form-label">From period</label>
                    <div class="col-xl-7">
                        <select class="form-select" aria-label="Default select example" id="from" name="from" onchange="check()" required>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="to" class="col-xl-5 col-form-label">To period</label>
                    <div class="col-xl-7">
                        <select class="form-select" aria-label="Default select example" id="to" name="to" onchange="check()" required>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                        <div class="my-2 p-2 fs-6 alert alert-danger d-none" id="invalidTo"><span>Invalid To period</span></div>
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-block request" type="submit" name="submit" value="Check" id="submitBtn">
                </div>

            </form>
        </div>

        <% if(locals.table) { %>
        <div class="table-responsive mx-auto" style="width: <%= 9*(parseInt(to) - parseInt(from) + 2) %>%">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Lab</th>
                        <% for(let i=parseInt(from); i<=parseInt(to); i++) { %>
                            <th><%= i %></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="rhead">CSL1</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[0][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[0][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[0][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">CSL2</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[1][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[1][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[1][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">CSL3</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[2][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[2][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[2][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">DSL</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[3][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[3][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[3][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">NSL</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[4][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[4][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[4][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">IIL</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[5][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[5][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[5][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">OCL</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[6][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[6][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[6][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">SKAVA</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[7][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[7][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[7][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">SCL</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[8][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[8][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[8][i] %></td>
                        <% } } %>
                    </tr>

                    <tr>
                        <th scope="row" class="rhead">CL</th>
                        <% for(let i=parseInt(from)-1; i < parseInt(to); i++) { %>
                        <% if(table[9][i] == "free") { %>
                            <td><strong class="text-purple"><%= table[9][i] %></strong></td>
                        <% }else{ %>
                            <td><%= table[9][i] %></td>
                        <% } } %>
                    </tr>

                </tbody>
            </table>
        </div>
        <% } %>
    </div>

<script>

    function check() {
            const from = parseInt(document.getElementById('from').value), to = parseInt(document.getElementById('to').value);

            invalidTo = document.getElementById('invalidTo'),
            submitBtn = document.getElementById('submitBtn');

            if(from && to && from > to) {
                invalidTo.classList.remove('d-none');
                submitBtn.disabled = true;
            }
            else {
                invalidTo.classList.add('d-none');
                submitBtn.disabled = false;
            }
    }
    
</script>

    <%-include ('partials/footer')%>