<%-include ('partials/header'); %>
<div class="col-xl-10 container">
    <div class="bg-white rounded p-4 mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h4 class="mb-4 text-purple">Hello, Dr. SENTHIL KUMARAN V!</h4>
                <p>Welcome to Nucleus Lab manager, an all-purpose digital platform for the department of Applied Mathematics and Computational Sciences, to enable effective utilization of the lab facilities.
                <br>We are still running on the Beta version. Hence, feel free to report any bugs that need resolving.</p>
            </div>
            <div class="col-md-6 col-lg-5 text-center">
                <img src="/images/intro.png" class="w-75 w-md-50" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-5">
            <a href="view-booking" class="text-decoration-none"><h4 class="fw-bold heading">You recently booked</h4></a>
            <div class="container dashboard-card bg-white rounded py-4">
                <% if(bookings.length==0) { %>
                    <div class="row text-center">
                    <img src="/images/nothing.png" class="nothing mx-auto p-4" alt="nothing">
                    <div><p class="fw-bold">Nothing to show!</p></div>
                </div>
                <% } else { %>
                <ul class="list-group list-group-flush">
                    
                    <% bookings.forEach((booking)=> { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div class="fw-bold"><%=booking.lab %></div>
                            Period: <%=booking.fromperiod %> - <%=booking.toperiod %>, <%= booking.bookingDate.toString().slice(0, 15) %>
                        </div>
                        <div>
                                <span class="fw-bold" style="color: #5853BC;"><%=booking._year + " yr " + booking.programme %></span>
                        </div>
                    </li>
                    <% }) %>
                    </ul>
                <% } %>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="fw-bold heading">Labs</h4>
            <div class="container bg-white rounded py-2 mb-5">
                <div class="row">
                    <div class="col text-center">
                        <div>currently free</div>
                        <span class="fs-1 fw-bold text-purple">4</span>
                    </div>
                    <div class="col text-center">
                        <div>currently occupied</div>
                        <span class="fs-1 fw-bold text-purple">6</span>
                    </div>
                </div>
            </div>

            <a href="view-login-request" class="text-decoration-none"><h4 class="fw-bold heading">Login requests status</h4></a>
            <div class="container dashboard-card bg-white rounded py-3 mb-5">
                
                    <% if(login_requests.length==0) { %>
                        <div class="row text-center">
                            <img src="/images/nothing.png" class="nothing mx-auto p-4" alt="nothing">
                            <div><p class="fw-bold">No recent login requests!</p></div>
                        </div>
                    <% } else { %>
                    <ul class="list-group list-group-flush">
                        <% login_requests.forEach((req) => { %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="pe-3">
                                <span class="fw-bold"><%= req.class %></span> Period: <%=req.fromperiod %> - <%=req.toperiod %>, <%= req.dateneeded.toString().slice(0, 15) %>
                            </div>
                            <% if(req._status == "Pending") {%>
                                <td><span class="fs-6 fw-light px-3 py-2 badge bg-blue rounded-pill">Pending</span></td>
                            <% } %>
                            <% if(req._status == "Rejected") {%>
                                <td><span class="fs-6 fw-light px-3 py-2 badge bg-danger rounded-pill">Rejected</span></td>
                            <% } %>
                            <% if(req._status == "Confirmed") {%>
                                <td><span class="fs-6 fw-light px-3 py-2 badge bg-success rounded-pill">Confirmed</span></td>
                            <% } %>
                        </li>
                        <% }) %>
                    </ul>
                        <% } %>
                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="pe-3">
                                <span class="fw-bold">20PW</span> Period: 3 - 4, Aug 31 2022
                            </div>
                            <span class="fs-6 badge bg-purple rounded-pill">Accepted</span>
                        </li> -->
                    
                
            </div>
            
        </div>
    </div>
        
</div>

<%- include('partials/footer'); %>
