<% if(role === "student") { %>
<%-include('partials/header_student')%>
<% } else if(role === "teacher") { %>
<%-include('partials/header')%>
% } else if(role === "admin") { %>
<%-include('partials/header_admin')%>
<% } else { %>
<%-include('partials/header_lab') %>
<% } %>

<div class="main rounded col col-md-8 col-lg-8 mx-auto">
    <h4 class="my-5">Register Complaint</h4>
    <div class="register_complaint">
        <form action="/register-complaint" method="post">
            <div class="mb-3 row">
                <label for="lab" class="col-sm-3 col-form-label">Lab Name</label>
                <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" id="lab" name="lab" required>
                        <option></option>
                        <option>NA</option>
                        <option>CSL1</option>
                        <option>CSL2</option>
                        <option>CSL3</option>
                        <option>DSL</option>
                        <option>NSL</option>
                        <option>IIL</option>
                        <option>OCL</option>
                        <option>SKAVA</option>
                        <option>SCL</option>
                        <option>CL</option>
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="row" class="col-sm-3 col-form-label">Row Number</label>
                <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" id="row" name="row" required>
                        <option></option>
                        <option>NA</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="col" class="col-sm-3 col-form-label">Column Number</label>
                <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" id="col" name="col" required>
                        <option></option>
                        <option>NA</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="system" class="col-sm-3 col-form-label">System Number</label>
                <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" id="system" name="system"
                        required>
                        <option></option>
                        <option>NA</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                        <option>32</option>
                        <option>33</option>
                        <option>34</option>
                        <option>35</option>
                        <option>36</option>
                        <option>37</option>
                        <option>38</option>
                        <option>39</option>
                        <option>40</option>
                        <option>41</option>
                        <option>42</option>
                        <option>43</option>
                        <option>44</option>
                        <option>45</option>
                        <option>46</option>
                        <option>47</option>
                        <option>48</option>
                        <option>49</option>
                        <option>50</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="desc" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="desc" name="desc" placeholder="Query" required></textarea>
                </div>
            </div>

            <div class="text-center">
                <input class="btn btn-block request" type="submit" name="Submit" value="Submit">
            </div>

        </form>
    </div>
</div>
<%- include('partials/footer'); %>