<%- include('partials/header_lab') %>
<div class="schedule rounded p-3 mx-lg-6">
    <div class="m-3 row">
        <div class="mb-3 col-sm-6">
            <h4 class="text-center float-sm-start">All Complaints</h4>
        </div>

    </div>

    <div class="row">
        <div class="p-3 mb-5">
            
            <form class="col-sm-7 col-md-5 col-lg-4 mx-auto" action="/filter-complaints" method="post">
                <div class="d-flex m-3 ">
                    <label for="filter_status" class="col-form-label me-2">View</label>
                    <select name="filter_status" class="form-select">
                        <option <%= filter=="All" && "selected" %> >All</option>
                        <option <%= filter=="Pending" && "selected" %> >Pending</option>
                        <option <%= filter=="Resolved" && "selected" %> >Resolved</option>
                    </select>
                </div>
                <div class="text-center">
                    <input class="btn btn-sm btn-block request" type="submit" name="Submit" value="Filter" id="submitBtn">
                </div>
            </form>
        </div>
    </div>
    
    <% if(complaints.length != 0) { %>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Lab name</th>
                    <th scope="col">Row No.</th>
                    <th scope="col">Col No.</th>
                    <th scope="col">System No.</th>
                    <th scope="col">Entry date</th>
                    <th scope="col">Description</th>
                    <th scope="col" colspan="2">Status</th>
                    <th scope="col">Resolved on</th>
                    <th scope="col">Resolved by</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Resolve complaint</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<complaints.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= complaints[i].userId %></td>
                    <td><%= complaints[i].lab %></td>
                    <% if (complaints[i]._row==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i]._row %></td>
                    <% } %>
                    <% if (complaints[i]._col==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i]._col %></td>
                    <% } %>
                    <% if (complaints[i].systemNo==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i].systemNo %></td>
                    <% } %>
                    <td><%= complaints[i].date_time.toLocaleDateString("en-IN") %></td>
                    <td><%= complaints[i].requirement %></td>
                    <% if(complaints[i]._status == "Pending") {%>
                        <td class="text-end">Pending</td>
                        <td><span class="badge bg-purple p-1 border-purple mx-2 rounded-circle"><span class="visually-hidden">Blue</span></span></td>
                    <% } %>
                    <% if(complaints[i]._status == "Resolved") {%>
                        <td class="text-end">Resolved</td>
                        <td><span class="badge bg-success p-1 border border-success mx-2 rounded-circle"><span class="visually-hidden">green</span></span></td>
                    <% } %>
                    <% if (complaints[i].resolvedDate) { %>
                        <td><%= complaints[i].resolvedDate.toLocaleDateString("en-IN") %></td>
                        <% } else { %>
                        <td>---</td>
                    <% } %>
                    <% if (complaints[i].resolvedBy) { %>
                        <td><%= complaints[i].resolvedBy %></td>
                        <% } else { %>
                        <td>---</td>
                    <% } %>

                    
                    <form action="/resolve-complaints" method="POST">
                        <% if(complaints[i]._status != "Resolved") {%>
                            <td><input type="text" name="remarks" id="remarks"></td>
                        <% } else { %>
                            <td><%= complaints[i].remarks %></td>
                        <% } %>
                        <input type="text" name="complaintId" value="<%= complaints[i].complaintId %>" hidden>
                        <input type="text" name="staffId" value="<%= userDetails.id %>" hidden>
                        <input type="text" name="resolvedBy" value="<%= userDetails.firstName + ' ' + userDetails.lastName %>" hidden>
                        <td><input class="btn btn-success rounded-pill" type="submit" name="submit" value="Resolve" <%= complaints[i]._status == "Resolved" && "disabled" %>></td>
                    </form>

                </tr>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
            <div class="col-sm-5 col-md-5 col-lg-5 mt-5 mx-auto d-flex align-items-center row">
                <img src="images/nothing.png" class="w-75 w-md-50 mx-auto" alt="">
                <p class="fw-bold text-center" style="color: #5853BC;">No complaints made!</p>
            </div>
        <% } %>
    </div>
</div>

<%-include ('partials/footer')%>