<%- include('partials/header_lab') %>  
<div class="schedule rounded p-3 mx-lg-6">
    <div class="m-3 row">
        <div class="mb-3 col-sm-6">
            <h4 class="text-center float-sm-start">All Complaints</h4>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Lab name</th>
                    <th scope="col">Row No.</th>
                    <th scope="col">Col No.</th>
                    <th scope="col">System No.</th>
                    <th scope="col">Entry date</th>
                    <th scope="col">Description</th>
                    <th scope="col" colspan="2">Status</th>
                    <th scope="col">Resolve complaint</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<complaints.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= complaints[i].userId %></td>
                    <td><%= complaints[i].lab %></td>
                    <% if (complaints[i]._row==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i]._row %></td>
                    <% } %>
                    <% if (complaints[i]._col==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i]._col %></td>
                    <% } %>
                    <% if (complaints[i].systemNo==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i].systemNo %></td>
                    <% } %>
                    <td><%= complaints[i].date_time.toLocaleDateString("en-IN") %></td>
                    <td><%= complaints[i].requirement %></td>
                    <% if(complaints[i]._status == "Pending") {%>
                        <td class="text-end">Pending</td>
                        <td><span class="badge bg-purple p-1 border-purple mx-2 rounded-circle"><span class="visually-hidden">Blue</span></span></td>
                    <% } %>
                    <% if(complaints[i]._status == "Resolved") {%>
                        <td class="text-end">Resolved</td>
                        <td><span class="badge bg-success p-1 border border-success mx-2 rounded-circle"><span class="visually-hidden">green</span></span></td>
                    <% } %>
                    <td>
                        <form action="/resolve-complaints" method="POST">
                            <input type="text" name="complaintId" value="<%= complaints[i].complaintId %>" hidden>
                            <input type="text" name="staffId" value="<%= userDetails.id %>" hidden>
                            <input type="text" name="resolvedBy" value="<%= userDetails.firstName + ' ' + userDetails.lastName %>" hidden>
                            <input class="btn btn-success rounded-pill" type="submit" name="submit" value="Resolve" <%= complaints[i]._status == "Resolved" && "disabled" %>>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%-include ('partials/footer')%>