<% if(role === "lab_assistant") { %>
<%-include('partials/header_lab') %>
<% } else if(role === "student") { %>
<%-include('partials/header_student')%>
<% } else if(role === "teacher") { %>
<%-include('partials/header')%>
<% } else { %>
<%-include('partials/header_admin') %>
<% } %>

    <div class="main col-10 col-sm-8 col-lg-6 mx-auto rounded position-relative">

        <% if(locals.alert) { %>
            <div class="alert alert-danger alert-dismissible fade show position-absolute start-50 translate-middle" role="alert" id="alert">
                <%= alert %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <% if(locals.success) { %>
            <div class="alert alert-success alert-dismissible fade show position-absolute start-50 translate-middle" role="alert" id="alert">
                <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        
        <h4 class="my-5">Reserve</h4>
        <div class="to_book">
            <form action="/to-book" method="post">

                <div class="mb-3 row">
                    <label for="programme" class="col-sm-3 col-form-label">Programme</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="programme" name="programme" required onchange="restrict_years()">
                            <option value=""></option>
                            <option value="MSc SS">MSc Software Systems</option>
                            <option value="MSc TCS">MSc Theoretical Computer Science</option>
                            <option value="MSc DS">MSc Data Science</option>
                            <option value="MSc CS">MSc Cyber Security</option>
                            <option value="MSc AM">MSc Applied Mathematics</option>
                            <option value="BSc CSD">BSc Computer Systems and Design</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="year" class="col-sm-3 col-form-label">Year</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="year" name="year" required>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="lab" class="col-sm-3 col-form-label">Lab Name</label>
                    <div class="col-sm-9">

                        <select class="form-select" aria-label="Default select example" id="lab" name="lab"
                            required>
                            <option value=""></option>
                            <option value="CSL1">CSL1</option>
                            <option value="CSL2">CSL2</option>
                            <option value="CSL3">CSL3</option>
                            <option value="DSL">DSL</option>
                            <option value="NSL">NSL</option>
                            <option value="IIL">IIL</option>
                            <option value="OCL">OCL</option>
                            <option value="SKAVA">SKAVA</option>
                            <option value="SCL">SCL</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <% const date = new Date(); yyyy = date.getFullYear(), mm = date.getMonth()+1, dd = date.getDate(); %>
                    <% if(dd < 10) { dd = '0'+dd} if(mm < 10) { mm = '0'+mm} %>
                    <% const str = yyyy+'-'+mm+'-'+dd; %>
                    <label for="date" class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="date" name="date" required min="<%= str %>";>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="from" class="col-sm-3 col-form-label">From period</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="from" name="from" required onchange="check()">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="to" class="col-sm-3 col-form-label">To period</label>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" id="to" name="to" required onchange="check()">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                        <div class="my-2 p-2 fs-6 alert alert-danger d-none" id="invalidTo"><span>Invalid To period</span></div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="purpose" class="col-sm-3 col-form-label">Purpose</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="purpose" name="purpose" required></input>
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-block request" type="submit" name="submit" value="Submit" id="submitBtn">
                </div>

            </form>
        </div>
    </div>

<script>

    function check() {
        const from = parseInt(document.getElementById('from').value), to = parseInt(document.getElementById('to').value);

        invalidTo = document.getElementById('invalidTo'),
        submitBtn = document.getElementById('submitBtn');

        if(from && to && from > to) {
            invalidTo.classList.remove('d-none');
            submitBtn.disabled = true;
        }
        else {
            invalidTo.classList.add('d-none');
            submitBtn.disabled = false;
        }
    }

    function restrict_years(){
        const programme = document.getElementById('programme').value;
        year_select = document.getElementById('year');
        lab_select = document.getElementById('lab');

        if(programme == "BSc CSD"){
            year_select.innerHTML = `
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>`;
            lab_select.innerHTML = `<option value=""></option>
                            <option value="OCL">OCL</option>
                            <option value="SKAVA">SKAVA</option>`;
        }
        else{
            lab_select.innerHTML = `<option value=""></option>
                            <option value="CSL1">CSL1</option>
                            <option value="CSL2">CSL2</option>
                            <option value="CSL3">CSL3</option>
                            <option value="DSL">DSL</option>
                            <option value="NSL">NSL</option>
                            <option value="IIL">IIL</option>
                            <option value="OCL">OCL</option>
                            <option value="SKAVA">SKAVA</option>
                            <option value="SCL">SCL</option>`;
            if (programme == "MSc AM"){
                year_select.innerHTML = `
                                <option></option>
                                <option>1</option>
                                <option>2</option>`;
                }
            else{
                year_select.innerHTML = `
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>`;
            }
        }
           
    }

    $("#alert").delay(2500).fadeOut(500);
     
</script>

<%-include ('partials/footer')%>