<%-include ('partials/header_admin'); %>

    <div class="main col-11 col-sm-11 col-lg-11 mx-auto schedule">
        <h4 class="my-5">Unblock Lab</h4>
        <% if(table.length !=0) { %>
        <div class="table-responsive mx-auto mt-5">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Lab Name</th>
                        <th scope="col">Day</th>
                        <th scope="col">From Period</th>
                        <th scope="col">To Period</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<table.length; i++) { %>
                    <form action="/unblock_lab" method="post" onsubmit="return confirm('Do you really want to unblock it?');">
                        <tr>
                            <td><%= i+1 %></td>
                            <td><input name="lab" value="<%= table[i].lab %>" type="text" hidden /><%= table[i].lab %></td>
                            <td><input name="day" value="<%= table[i]._day %>" type="text" hidden /><%= table[i]._day %></td>
                            <td><input name="from" value="<%= table[i].fromperiod %>" type="text" hidden /><%= table[i].fromperiod %></td>
                            <td><input name="to" value="<%= table[i].toperiod %>" type="text" hidden /><%= table[i].toperiod %></td>
                            <td>
                                <input class="btn btn-danger rounded-pill m-0" type="submit" name="submit" value="Unblock">
                            </td>
                        </tr>
                    </form>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
    </div>

<%-include ('partials/footer_admin'); %>