<% if(role === "admin") { %>
<%-include('partials/header_admin')%>
<% } else { %>
<%-include('partials/header')%>
<% } %>

<% if(requests.length != 0) { %>
<div class="schedule rounded p-3 mx-lg-6">
    <div class="m-3 row">
        <div class="mb-3 col-sm-6">
            <h4 class="text-center float-sm-start">Login Requests</h4>
        </div>
    </div>

    <% if(role === "admin") { %>
        <div class="row">
            <div class="p-3 mb-5">
                <form class="col-sm-7 col-md-5 col-lg-4 mx-auto" action="/filter-login-requests" method="post">
                    <div class="d-flex m-3 ">
                        <label for="filter_status" class="col-form-label me-2">View</label>
                        <select name="filter_status" class="form-select">
                            <option <%= filter=="All" && "selected" %> >All</option>
                            <option <%= filter=="Pending" && "selected" %> >Pending</option>
                            <option <%= filter=="Confirmed" && "selected" %> >Confirmed</option>
                            <option <%= filter=="Rejected" && "selected" %> >Rejected</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-sm btn-block request" type="submit" name="Submit" value="Filter" id="submitBtn">
                    </div>
                </form>
            </div>
        </div>
    <% } %>

    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <% if(role === "admin") { %>
                        <th scope="col">Staff name</th>
                        <th scope="col">Staff email</th>
                    <% } %>
                    <th scope="col">Class</th>
                    <th scope="col">Date needed</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Type</th>
                    <th scope="col">Tools</th>
                    <th scope="col">No. of Logins</th>
                    <th scope="col">Series</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<requests.length; i++) { %>
                <% if(requests[i]._status == "Rejected") {%>
                    <tr class="bg-lightred">
                <% } else { %>
                    <tr>
                <% } %> 
                    <td><%= i+1 %></td>
                    <% if(role === "admin") { %>
                        <td><%= requests[i].staffname %></td>
                        <td><%= requests[i].staffemail %></td>
                    <% } %>
                    <td><%= requests[i].class %></td>
                    <td><%= requests[i].daterequested.toLocaleDateString("en-IN") %></td>
                    <td>Period <%= requests[i].fromperiod %></td>
                    <td>Period <%= requests[i].toperiod %></td>
                    <td><%= requests[i]._type %></td>
                    <td><%= requests[i].tools %></td>
                    <td><%= requests[i].nooflogins %></td>
                    <% if(requests[i]._status == "Confirmed") {%>
                        <td><%= requests[i].series %></td>
                    <% } else { %>
                        <td>---</td>
                    <% } %>    
                    <% if(requests[i]._status == "Pending") {%>
                        <td><span class="fs-6 fw-light px-3 py-2 badge bg-blue rounded-pill">Pending</span></td>
                    <% } %>
                    <% if(requests[i]._status == "Rejected") {%>
                        <td><span class="fs-6 fw-light px-3 py-2 badge bg-danger rounded-pill">Rejected</span></td>
                    <% } %>
                    <% if(requests[i]._status == "Confirmed") {%>
                        <td><span class="fs-6 fw-light px-3 py-2 badge bg-success rounded-pill">Confirmed</span></td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<% } else { %>
    <div class="col-sm-5 col-md-5 col-lg-5 mt-5 mx-auto d-flex align-items-center row">
        <img src="images/nothing.png" class="w-75 w-md-50 mx-auto" alt="">
        <p class="fw-bold text-center" style="color: #5853BC;">No login requests made!</p>
    </div>
<% } %>

<%-include('partials/footer')%>
