<% if(role === "student") { %>
    <%-include('partials/header_student')%>
    <% } else if(role === "teacher") { %>
    <%-include('partials/header')%>
    <% } else { %>
    <%-include('partials/header_admin') %>
    <% } %>
<div class="schedule rounded p-3 mx-lg-6">
    <div class="m-3 row">
        <div class="mb-3 col-sm-6">
            <h4 class="text-center float-sm-start">View Complaints</h4>
        </div>

    </div>
    <div class="row">
        <div class="p-3 mb-5">
            
            <form class="col-sm-7 col-md-5 col-lg-4 mx-auto" action="/filter-complaints" method="post">
                <div class="d-flex m-3 ">
                    <label for="filter_status" class="col-form-label me-2">View</label>
                    <select name="filter_status" class="form-select">
                        <option <%= filter=="All" && "selected" %> >All</option>
                        <option <%= filter=="Pending" && "selected" %> >Pending</option>
                        <option <%= filter=="Resolved" && "selected" %> >Resolved</option>
                    </select>
                </div>
                <div class="text-center">
                    <input class="btn btn-sm btn-block request" type="submit" name="Submit" value="Filter" id="submitBtn">
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Lab name</th>
                    <th scope="col">Row No.</th>
                    <th scope="col">Col No.</th>
                    <th scope="col">System No.</th>
                    <th scope="col">Entry date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <% if (role=="admin") { %>
                    <th scope="col">Resolved on</th>
                    <th scope="col">Resolved by</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<complaints.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= complaints[i].userId %></td>
                    <td><%= complaints[i].lab %></td>
                    <% if (complaints[i]._row==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i]._row %></td>
                    <% } %>
                    <% if (complaints[i]._col==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i]._col %></td>
                    <% } %>
                    <% if (complaints[i].systemNo==0) { %>
                        <td>NA</td>
                        <% } else { %>
                        <td><%= complaints[i].systemNo %></td>
                    <% } %>
                    <td><%= complaints[i].date_time.toLocaleDateString("en-IN") %></td>
                    <td><%= complaints[i].requirement %></td>
                    <% if(complaints[i]._status == "Pending") {%>
                        <td><span class="fs-6 fw-light px-3 py-2 badge bg-blue rounded-pill">Pending</span></td>
                    <% } %>
                    <% if(complaints[i]._status == "Resolved") {%>
                        <td><span class="fs-6 fw-light px-3 py-2 badge bg-success rounded-pill">Resolved</span></td>
                    <% } %>
                    <% if (role=="admin") { %>
                    <% if (complaints[i].resolvedDate) { %>
                        <td><%= complaints[i].resolvedDate.toLocaleDateString("en-IN") %></td>
                        <% } else { %>
                        <td>---</td>
                    <% } %>
                    <% if (complaints[i].resolvedBy) { %>
                        <td><%= complaints[i].resolvedBy %></td>
                        <% } else { %>
                        <td>---</td>
                    <% } %>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%-include ('partials/footer')%>